.four-oh-four {

  &__message {
    line-height: 1.6;
    font-weight: 400;

    @include media("<=xsmall") {
      font-size: 2.8rem;
    }

    @include media(">=medium", "<large") {
      font-size: 3rem;
    }
  }

  &__redirect {
    //// refactor this
    // tempoary solution
    margin: 12px 0;
  }
}
