.index {
  &__greeting {
    @include rf(22, 28);

    // filter: grayscale(80%);
  }
  &__introduction {
    font-size: 2.4rem;
    line-height: 1.6;
    font-weight: 400;

    @include media("screen", "<=tablet") {
      // @include rf(22, 45);
    }


  }
}
