.index {
  &__greeting {
    // filter: grayscale(80%);
  }
  &__introduction {
    font-size: 2.4rem;
    line-height: 1.6;
    font-weight: 400;

    @include media("<=xsmall") {
      font-size: 2.8rem;
    }

    @include media(">=medium", "<large") {
      font-size: 3rem;
    }
  }
}
