$max-width: 230px;
$margin-bottom: 40px;

.about {
  color: var(--mainColorLight);
  max-width: $max-width;

  &__image {
    width: 180px;
    max-width: $max-width;
    height: 180px;
    margin: 0 auto;
    border: 12px solid white;
    border-radius: 50%;
    overflow: hidden;
    filter: grayscale(100%);
    transition: all 0.8s ease;
    // transition: border .9s ease-in-out, transform .9s ease-in-out;
    margin-bottom: $margin-bottom;
    background-image: url(../assets/images/profileBackground2.jpg);
    background-size: cover;
    &:hover {
      background-position: -30px;
      transform: rotate(1deg) scale(1.1);
      border: 2px solid white;
      filter: grayscale(40%);
    }
  }

  &__bio {
    margin-bottom: $margin-bottom;
    line-height: 1.4;
    font-size: 1.4rem;
  }

  @media only screen and (max-height: 700px) {
    .about__image {
      width: 120px;
      height: 120px;
    }
  }

  @include media("<=small") {
    .about__bio {
      line-height: 2rem;
      font-size: 1.4rem;
    }
  }

  @include media("<=medium") {
    text-align: center;
    margin-bottom: 0;
    max-width: 100%;

    .about__image {
      margin: 0 auto $margin-bottom auto;
    }

    .about__bio {
      margin: 0 auto;
    }
  }
}
