// // // Link to snippet
// // //  Download extension to beautify snippets
// // // https://codepen.io/johnfinkdesign/pen/ENbYxO

// // [data-tooltip] {
// //   cursor: pointer;
// //   position: relative;
// //   &::before,
// //   &::after {
// //     position: absolute;
// //     visibility: hidden;
// //     opacity: 0;
// //     pointer-events: none;
// //     transition: all 0.15s cubic-bezier(0.5, 1, 0.25, 1);
// //     z-index: 1;
// //   }
// //   &::before {
// //     padding: 5px;
// //     width: 110px;
// //     border-radius: 3px;
// //     background: black;
// //     color: white;
// //     content: attr(data-tooltip);
// //     text-align: center;
// //     font-size: 14px;
// //     font-weight: normal;
// //     line-height: 1.2;
// //   }
// //   &::after {
// //     border: 8px solid transparent;
// //     width: 0;
// //     content: "";
// //     font-size: 0;
// //     line-height: 0;
// //   }

// //   /********* Default Behavior ********* */
// //   &:hover::before,
// //   &:hover::after {
// //     visibility: visible;
// //     opacity: 1;
// //   }

// //   /********* Timeout Variant ********* */
// //   //@keyframes timeout
// //   // 0%
// //   //   opacity: 1
// //   //   visibility: visible
// //   // 99%
// //   //   opacity: 1
// //   //   visibility: visible
// //   // 100%
// //   //   opacity: 0
// //   //   visibility: hidden
// //   //&:hover:before, &:hover:after
// //   // animation: timeout 2s

// //   /********* Tooltip Sizes ********* */
// //   &.t-xl::before {
// //     width: 200px;
// //   }
// //   &.t-lg::before {
// //     width: 170px;
// //   }
// //   &.t-md::before {
// //     width: 140px;
// //   }
// //   &.t-sm::before {
// //     width: 110px;
// //   }
// //   &.t-xs::before {
// //     width: 80px;
// //   }

// //   /********* Top Tooltip ********* */
// //   &.t-top {
// //     &::before {
// //       bottom: 100%;
// //       left: 50%;
// //       margin-bottom: 5px;
// //       transform: translateX(-50%);
// //     }
// //     &::after {
// //       bottom: 100%;
// //       left: 50%;
// //       transform: translateX(-50%);
// //       border-top: 8px solid black;
// //       border-bottom: none;
// //     }
// //     &:hover::before,
// //     &:hover::after {
// //       transform: translateX(-50%) translateY(-5px);
// //     }
// //   }

// //   /********* Right Tooltip ********* */
// //   &.t-right {
// //     &::before {
// //       top: 50%;
// //       left: 100%;
// //       margin-left: 5px;
// //       transform: translateY(-50%);
// //     }
// //     &::after {
// //       top: 50%;
// //       left: 100%;
// //       transform: translateY(-50%);
// //       border-right: 8px solid black;
// //       border-left: none;
// //     }
// //     &:hover::before,
// //     &:hover::after {
// //       transform: translateX(5px) translateY(-50%);
// //     }
// //   }

// //   /********* Bottom Tooltip ********* */
// //   &.t-bottom {
// //     &::before {
// //       top: 100%;
// //       left: 50%;
// //       margin-top: 5px;
// //       transform: translateX(-50%);
// //     }
// //     &::after {
// //       top: 100%;
// //       left: 50%;
// //       transform: translateX(-50%);
// //       border-bottom: 8px solid black;
// //       border-top: none;
// //     }
// //     &:hover::before,
// //     &:hover::after {
// //       transform: translateX(-50%) translateY(5px);
// //     }
// //   }

// //   /********* Left Tooltip ********* */
// //   &.t-left {
// //     &::before {
// //       top: 50%;
// //       right: 100%;
// //       margin-right: 5px;
// //       transform: translateY(-50%);
// //     }
// //     &::after {
// //       top: 50%;
// //       right: 100%;
// //       transform: translateY(-50%);
// //       border-left: 8px solid black;
// //       border-right: none;
// //     }
// //     &:hover::before,
// //     &:hover::after {
// //       transform: translateX(-5px) translateY(-50%);
// //     }
// //   }
// // }

/* setup tooltips */
/* the animations */
/* fade */
/* expand */
/* swing */
/* basic styling: has nothing to do with tooltips: */
[data-tooltip] {
  position: relative;
  &:before {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    color: #fff;
    content: attr(data-title);
    font-size: 14px;
    padding: 6px 10px;
    top: 26px;
    white-space: nowrap;

    transform: translate3d(0, -10px, 0);
    transition: all 0.15s ease-in-out;
  }
  &:after {
    display: block;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    border-right: 6px solid transparent;
    border-bottom: 6px solid rgba(0, 0, 0, 0.75);
    border-left: 6px solid transparent;
    content: "";
    height: 0;
    top: 20px;
    left: 20px;
    width: 0;

    transform: translate3d(0, -10px, 0);
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    &:after {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    &:before {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
